<?xml version="1.0" ?>
<config>
    <modules>
        <Aoe_EeIndexerStats>
            <version>1.0.0</version>
        </Aoe_EeIndexerStats>
    </modules>
    <global>
        <helpers>
            <Aoe_EeIndexerStats>
                <class>Aoe_EeIndexerStats_Helper</class>
            </Aoe_EeIndexerStats>
        </helpers>
        <models>
            <Aoe_EeIndexerStats>
                <class>Aoe_EeIndexerStats_Model</class>
            </Aoe_EeIndexerStats>
            <enterprise_mview>
                <rewrite>
                    <client>Aoe_EeIndexerStats_Model_Client</client>
                </rewrite>
            </enterprise_mview>
        </models>
        <blocks>
            <Aoe_EeIndexerStats>
                <class>Aoe_EeIndexerStats_Block</class>
            </Aoe_EeIndexerStats>
        </blocks>
    </global>
    <adminhtml>
        <layout>
            <updates>
                <aoe_eeindexerstats>
                    <file>aoe_eeindexerstats/aoe_eeindexerstats.xml</file>
                </aoe_eeindexerstats>
            </updates>
        </layout>
    </adminhtml>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Aoe_EeIndexerStats before="Mage_Index">Aoe_EeIndexerStats_Adminhtml</Aoe_EeIndexerStats>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <default>
        <index_management>
            <index_changelog>
                <clean_duplicate>0</clean_duplicate>
            </index_changelog>
        </index_management>
    </default>
</config>